@import '~normalize.css';
@import 'sass-importee';
@import 'css-importee.css';

.sass-entry {
  color: $sass-entry-color;
  font-weight: bold;
}

.sass-entry::after {
  content: ': from sass-entry.scss';
}
